---
import { getRelativeLocaleUrl } from "astro:i18n"

import { Button } from "./ui/button"

import { Globe } from "lucide-react"

const { pathname } = Astro.url
const currentLang = Astro.currentLocale || "es"

const linkToRedirect =
  pathname === "/certificates/" || pathname === "/en/certificates/"
    ? getRelativeLocaleUrl(currentLang === "en" ? "es" : "en", "/certificates")
    : getRelativeLocaleUrl(currentLang === "en" ? "es" : "en", "/")
---

<Button
  type="button"
  variant="ghost"
  className="mr-0 size-8 rounded-full transition-transform duration-300 hover:scale-110 sm:size-10"
>
  <a
    href={linkToRedirect}
    aria-label="Toggle Language"
  >
    <Globe
      className="size-4 scale-100 rotate-0 transition-all duration-300 sm:size-5"
    />
  </a>
</Button>
